<div class="nav">
  <ul>
    <a href="/"><li>home</li></a>
    <a href="/about"><li>about</li></a>
  </ul>
</div>
{{#each projects}}
<div class="project-wrapper" id="{{id}}">
  <div class="viewer">
    <video src="style/videos/{{video}}" width="100%" height="80%" autoplay loop></video>
  </div>
  <div class="project-info">
    <h3 class="medium-title dark-teal">{{title}}r</h3>
    <h4 class="small-title medium-teal">{{skills}}</h4>
    <p class="description tracking-kerning">
      {{description}}
    </p>
    <ul class="project-links">
      <a href="{{links.[0]}}"><li>code</li></a>
      <a href="{{links.[1]}}"><li>site</li></a>
    </ul>
  </div>
</div>
<div class="arrow" id="rightArrow">
  &rang;
</div>
<div class="arrow" id="leftArrow">
  &lang;
</div>
